.profile__change-avatar {
  opacity: 0;
  position: absolute;
  right: 0;
  border: none;
  padding: 0;
  background-image: url("../../../images/edit.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 26px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.profile__change-avatar:hover {
  opacity: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
