.elements__list {
    display: grid;
    grid-template: repeat(2, max-content) / repeat(3, max-content);
    gap: 17px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

@media screen and (max-width: 1023px) {
    .elements__list {
        grid-template: repeat(3, max-content) / repeat(2, max-content);
    }
}


@media screen and (max-width: 767px){
    .elements__list {
        grid-template: repeat(6, max-content) / repeat(1, max-content);
    }
}