.element__like{
    border: none;
    padding: 0;
    background-image: url('../../../images/heart.svg');
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 22px;
    height: 19px;
    flex-shrink: 0;
}