.popup__container_type_form {
    width: 430px;
    border-radius: 10px;
    padding: 34px 36px 37px;
    background-color: #fff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 767px) {
    .popup__container_type_form {
        width: 282px;
        padding: 25px 22px;
    }
}