.popup {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility .2s, opacity .2s linear;
}
